# LaTeX temporary files
**/*.aux
**/*.log
**/*.toc
**/*.gz
**/*.dvi
**/*.out.ps
**/*.lox
**/*.bbl
**/*.blg
**/*.lot
**/*.lof
**/*.lol
**/*.out
**/*.glg
**/*.glo
**/*.gls
**/*.glsdefs
**/*.xdy
**/*.ist
**/*.nav
**/*.snm
**/*.vrb

#BibLaTeX temporary files
**/*-blx.bib
**/*.run.xml

# Output
**/*.pdf

# OSX specific file
**/*.DS_Store

# VIM working files
**/*.swp
**/~*

#Fedora texlive script
texliveonfly.py